{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}The Simple Post{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 
        <script type="text/javascript" src="{% static 'network/scripts.js' %}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400;500;700;900&display=swap" rel="stylesheet"> 
       <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>


        <nav class="navbar navbar-expand navbar_perso sticky">
            <div class="navbar-brand" style="margin-left: 10px;" href="#">The Simple Post</div>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_profile' %}">My profile</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Newsfeed</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>